:root {
    scroll-behavior:smooth
}

*, 
*::before, 
*::after { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: system-ui, sans-serif;
}
body {
    display: grid;
    grid-template-rows: 1fr max-content max-content;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-rows: 10rem 1fr;
    min-height: 0;
}

.transactions-scroll {
    overflow-y: auto;
}

.transactions {
    display: grid;
    row-gap: 1rem;
    padding: 1rem;
}

.transactions .tx {
    display: grid;
    grid-template-areas:
        "icon direction sum_dash"
        "icon date      sum_curr";
    background-color: #ccc;
}

.tx .icon {
    grid-area: icon;
    max-width: 64px;
}
.tx .icon img {
    justify-self: center;
    display: block;
}
.tx .direction {
    grid-area: direction;
    align-content: center;
    display: grid;
}
.tx .date {
    grid-area: date;
    align-content: center;
    display: grid;
}
.tx .sum-dash {
    grid-area: sum_dash;
    align-content: center;
    display: grid;
}
.tx .sum-currency {
    grid-area: sum_curr;
    align-content: center;
    display: grid;
}

/*
body .h0 {
    height: 0;
}

.help {
    transition: height 2s;
    height: 100%;
    background: aliceblue;
    overflow: hidden;
}
*/

.console {
    display: grid;
    align-self: end;
    height: 14rem;
    grid-template-rows: auto 3rem;
}
.console .log {
    display: grid;
    padding: 0.2rem;
    background-color: #393236;
    color: #c9bbb7;
    font-size: 0.9rem;
    align-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;  /* Firefox */
}
.console .log::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.console .log .line {
    min-height: 1.3rem;
    height: max-content;
    word-break: break-all;
}
.console textarea {
    height: 100%;
    resize: none;
    border: 0;
    background-color: #1e1d1d;
    color: wheat;
    outline: none;
    padding: 0.2rem;
}

.hidden {
    height: 0;
    overflow: hidden;
}


.status_bar {
    display: grid;
    grid-auto-flow: column;
    height: 24px;
    grid-template-columns: 1fr auto auto auto;
}
.show_console {
    background-color: #ccc;
    width: 24px;
}
.status_dashd, .status_neutralino {
    width: 16px;
    border-radius: 50%;
    margin: 5px;
    height: 16px;
    align-self: center;
    display: grid;
}
.status_bar .not_started {
    background-color: red;
}
.status_bar .start {
    background-color: yellow;
}
.status_bar .starting {
    background-color: yellow;
}
.status_bar .started {
    background-color: green;
}